<div>
    <h2>Корзина</h2>
    <table class="table">
        <thead>
        <tr>
            <td>ID</td>
            <td>Title</td>
            <td>Price</td>
            <td></td>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="p in cart">
            <td>{{p.id}}</td>
            <td>{{p.title}}</td>
            <td>{{p.price}}</td>
            <td>
                <button type="button" class="btn btn-primary" ng-click="deleteProduct(p.id)" >Delete</button>
            </td>
        </tr>
        </tbody>
    </table>
</div>