<div>
    <h2>Корзина</h2>
    <table class="table">
        <thead>
        <tr>
            <td>ID</td>
            <td>Title</td>
            <td>Price</td>
            <td>Count</td>
            <td></td>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="p in cart">
            <td>{{p.id}}</td>
            <td>{{p.title}}</td>
            <td>{{p.price}}</td>
            <td>{{p.count}}</td>
            <td>
                <button type="button" class="btn btn-primary" ng-click="deleteProduct(p.id)" >Delete</button>
            </td>
        </tr>
        <p></p>
        <h3>Детали заказа</h3>
        <form novalidate>
            <input class="form-control" type="text" placeholder="Номер телефона получателя" ng-model="orderDetails.phone">
            <p></p>
            <input class="form-control" type="text" placeholder="Адрес доставки" ng-model="orderDetails.address">
            <p></p>
        </form>

        <button class="btn btn-primary" ng-click="checkOut()" ng-show="isUserLoggedIn()">Оформить заказ</button>
        </tbody>
    </table>
</div>