<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="UTF-8">
    <title>Главная страница</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
            crossorigin="anonymous"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <script src="app.js"></script>
</head>
<body ng-app="market-front">
<div class="container" ng-controller="appController">
    <h2>Главная страница</h2>
    <table class="table">
        <thead>
        <tr>
            <td>ID</td>
            <td>Title</td>
            <td>Price</td>
            <td>Info</td>
            <td></td>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="p in products">
            <td>{{p.id}}</td>
            <td>{{p.title}}</td>
            <td>{{p.cost}}</td>
            <td>
                <button type="button" class="btn btn-primary" ng-click="showInfo(p)" >Info</button>
            </td>
            <td>
                <button type="button" class="btn btn-primary" ng-click="deleteProduct(p.id)" >Delete</button>
            </td>
        </tr>
        </tbody>
    </table>
    <p></p>
    <p></p>
    <h3>Изменить продукт</h3>
    <form novalidate ng-submit="changeProduct()">
        <label  class="form-label">Id</label>
        <select class="form-select" ng-model="new_product.id">
            <option ng-repeat="p in products" value="{{p.id}}">{{p.id}}</option>
        </select>
        <div class="mb-3">
            <label  class="form-label">Название</label>
            <input type="text" class="form-control" placeholder="Название" ng-model="new_product.title">
        </div>
        <div class="mb-3">
            <label  class="form-label">Цена</label>
            <input type="text" class="form-control" placeholder="Цена" ng-model="new_product.cost">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
</body>
</html>