<div>
<h3>Изменить продукт</h3>
<form novalidate ng-submit="changeProduct()">
    <div class="mb-3">
        <label  class="form-label">Название</label>
        <input type="text" class="form-control" placeholder="Название" ng-model="updated_product.title">
    </div>
    <div class="mb-3">
        <label  class="form-label">Цена</label>
        <input type="text" class="form-control" placeholder="Цена" ng-model="updated_product.cost">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
</div>